@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-secondary text-text-primary font-sans;
  }
}

.navbar-logo {
  width: 160px;
  height: 110px;
  /* border-radius: 9999px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
}
